@model List<AccountsModel>


<div style="display:flex; align-items:center; margin-bottom: 40px; justify-content:space-between;">
    <h2>User List</h2>
    <a href="/" class="btn btn-sm btn-primary text-white">Create User</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.Role</td>
                <td>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="UserId" value="@item.UserId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>


